@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/fundo.png');
    background-size: cover;
    background-position: center;
}   

.setaVoltar{
    position: fixed;
    top: 30px;
    left: 40px;
    transform: rotate(180deg);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1001;
}


.logoprincipal {
    position: fixed;       
    top: 20px;             
    left: 50%;            
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    z-index: 1000;         
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw; /* Usa 90% da largura da tela */
    max-width: 1600px; /* Define uma largura máxima */
    min-height: 85vh; /* Altura mínima, mas pode crescer se necessário */
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color:#000000;
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    backdrop-filter: blur(20px);
}

.form-grid {
  display: flex;
  justify-content: center;
  gap: 10%; /* Usa porcentagem para o espaçamento */
  width: 100%;
  margin-top: 50px; /* Adiciona espaço no topo, empurrando as colunas para baixo */
}

.coluna-esquerda,
.coluna-direita {
  width: 45%; /* Ajusta a largura das colunas */
}

input {
  width: 100%;
  height: 50px;
  padding: 10px 8px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  transition: border-color 0.3s;
  margin-bottom: 50px; /* Altere este valor para ajustar o espaçamento vertical e a altura da coluna */
}

input:focus {
  border-color: #43b849;
}

.endereco-linha {
  display: flex;
  gap: 20px; /* Diminui o espaçamento entre os campos de endereço */
}

.endereco-linha input {
  width: 100%;
}

.checkbox-termos label {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha o checkbox à direita */
    gap: 10px;
    font-size: 22px;
    margin-top: -45px; /* Puxa para cima, mais perto do último campo */
    margin-bottom: 30px;
}

.checkbox-termos label input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    margin: 0; /* Remove margens do input */
    accent-color: #43b849;
}

.finalize-button {
  display: block;
  margin: 0 auto; /* Remove a margem superior para evitar empurrar o layout */
  position: relative; /* Permite mover o botão sem afetar outros elementos */
  top: 90px; /* Desloca o botão 40px para baixo */
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 100px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.finalize-button:hover {
  background-color: #43b849;
}