@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/fundo.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px; /* Espaço para o cabeçalho, empurrando o container para baixo */
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: transparent;
    z-index: 1001;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.logoprincipal {
    width: 145px; 
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 97vw;
    height: 86vh;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    color:#000000;
    padding: 30px 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    backdrop-filter: blur(20px);
    position: relative; /* Necessário para posicionar elementos filhos de forma absoluta */
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.menu-item {
    display: flex;
    flex-direction: row; /* Coloca imagem e texto lado a lado */
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 20px 25px;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-item span {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #333;
    font-weight: 600;
}

.profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.support-content {
    text-align: center;
    max-width: 600px;
}

.support-content h1 {
    font-size: 2em;
    font-weight: 600;
    color: #054F77;
    margin-bottom: 40px;
}

.support-content h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.info-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: inline-block;
    width: 350px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

