@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('./img/fundo.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: transparent;
    z-index: 1001;
}

.header-left {
    display: flex;
    align-items: center;
}

.logoprincipal {
    width: 145px; 
    height: auto;
}

.container {
    position: relative; /* Necessário para posicionar a seta */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97vw;
    height: 86vh;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    color:#000000;
    padding: 30px 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    backdrop-filter: blur(20px);
    text-align: center;
}

.back-arrow {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
}

.back-arrow img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    cursor: pointer;
    transform: rotate(180deg);
}

.support-content h1 {
    margin-bottom: 30px;
    margin-top: 0px; /* Adicionado para abaixar o título */
    font-size: 1.8em;
    font-weight: 600;
}

.form-link-box {
    display: inline-flex;
    align-items: center; /* Garante que os itens (ícone e texto) estejam centralizados verticalmente */
    justify-content: center;
    padding: 20px 40px;
    background-color: #e9eff5;
    border-radius: 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.form-link-box:hover {
    background-color: #d8e2eb;
}

.form-link-box img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.cancel-button {
    display: flex;
    align-items: center;
    background-color: #d9534f;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #c9302c;
}

.cancel-button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}